/* navbar responsvie strts */

@media screen and (max-width:830px) {
    .navbar_items{
        display: flex;
        justify-content: space-evenly;
        width: 70%;
    }
}

@media screen and (max-width:717px) {
    .navbar_items{
        display: flex;
        justify-content: space-evenly;
        width: 70%;
        display: none;
    }

    .mobile_nav{
        display: block;
        color: white;
        margin-left: 90%;
        font-size: 35px;
        position: relative;
        top: 30px;
    }
}

@media screen and (max-width:412px) {
    
    .navbar_items{
        display: flex;
        justify-content: space-evenly;
        width: 70%;
        display: none;
    }

    .mobile_nav{
        display: block;
        color: white;
        margin-left: 80%;
        font-size: 35px;
        position: relative;
        top: 30px;
    }
}

/* navbar responsive ends */

/* about me starts */

@media screen and (max-width:1179px) {
    .about_me{
        width: 80%;
    }
}

@media screen and (max-width:976px) {
    .about_me{
        width: 95%;
        margin-left: 2%;
    }
}

@media screen and (max-width:988px) {
    .about_me{
        width: 95%;
        margin-left: 2%;
    }
}

@media screen and (max-width:986px) {
    .about_me{
        width: 95%;
        margin-left: 2%;
    }
}

@media screen and (max-width:820px) {
    .about_me{
        height: 490px;
        width: 95%;
        margin-left: 2%;
    }

    .txt{
        width: 61%;
        margin-left: 39%;
    }
}

@media screen and (max-width:819px) {
    .about_me{
        width: 98%;
        margin-left: 2%;
    }

    .txt{
        margin-left: 38%;
    }
}



@media screen and (max-width:788px) {
    .about_me{
        height: 690px;
        width: 98%;
        margin-left: 2%;
    }

    .about_me img{
        margin-top: 8%;
        margin-left: 30%;
        width: 40%;
    }

    .txt{
        margin-top: 6%;
        margin-left: 3%;
        width: 96%;
    }
}

@media screen and (max-width:516px) {
    .about_me{
        height: 690px;
        width: 98%;
        margin-left: 2%;
    }

    .about_me img{
        margin-top: 8%;
        margin-left: 30%;
        width: 40%;
    }

    .txt{
        margin-top: 6%;
        margin-left: 3%;
        width: 96.40%;
    }
}

@media screen and (max-width:500px) {
    .about_me{
        height: 690px;
        width: 98%;
        margin-left: 1%;
    }

    .about_me img{
        margin-top: 8%;
        margin-left: 30%;
        width: 40%;
    }

    .txt{
        margin-top: 6%;
        margin-left: 1%;
        width: 100%;
    }
}

@media screen and (max-width:479px) {
    .about_me{
        height: 660px;
    width: 95%;
    margin-left: 2%;
}
    

    .about_me img{
        margin-top: 8%;
        margin-left: 30%;
        width: 40%;
    }

    .txt{
        margin-top: 6%;
        margin-left: 1%;
        width: 100%;
    }

    .txt h5{
        font-size: 120%;
    }
}

@media screen and (max-width:475px) {
    .about_me{
        height: 660px;
    width: 95%;
    margin-left: 2%;
}
    

    .about_me img{
        margin-top: 8%;
        margin-left: 30%;
        width: 40%;
    }

    .txt{
        margin-top: 6%;
        margin-left: 4%;
        width: 100%;
    }

    .txt h5{
        font-size: 110%;
    }
}

@media screen and (max-width:457px) {
    .about_me{
        height: 660px;
    width: 98%;
    margin-left: 1%;
}
    

    .about_me img{
        margin-top: 8%;
        margin-left: 30%;
        width: 40%;
    }

    .txt{
        margin-top: 6%;
        margin-left: 4%;
        width: 100%;
    }

    .txt h5{
        font-size: 110%;
    }
}

@media screen and (max-width:445px) {
    .about_me{
        height: 540px;
    width: 98%;
    margin-left: 1%;
}
    

    .about_me img{
        margin-top: 8%;
        margin-left: 30%;
        width: 40%;
    }

    .txt{
        margin-top: 6%;
        margin-left: 1%;
        width: 100%;
    }

    .txt h5{
        font-size: 96%;
    }
}

@media screen and (max-width:369px) {
    .about_me{
        height: 540px;
    width: 98%;
    margin-left: 1%;
}
    

    .about_me img{
        margin-top: 8%;
        margin-left: 30%;
        width: 40%;
    }

    .txt{
        margin-top: 6%;
        margin-left: 1%;
        width: 100%;
    }

    .txt h5{
        font-size: 90%;
    }
}

@media screen and (max-width:343px) {
    .about_me{
        height: 540px;
    width: 98%;
    margin-left: 1%;
}
    

    .about_me img{
        margin-top: 8%;
        margin-left: 30%;
        width: 40%;
    }

    .txt{
        margin-top: 6%;
        margin-left: 1%;
        width: 100%;
    }

    .txt h5{
        font-size: 84%;
    }
}

@media screen and (max-width:323px) {
    .about_me{
        height: 540px;
    width: 98%;
    margin-left: 1%;
}
    

    .about_me img{
        margin-top: 8%;
        margin-left: 30%;
        width: 40%;
    }

    .txt{
        margin-top: 6%;
        margin-left: 1%;
        width: 100%;
    }

    .txt h5{
        font-size: 82%;
    }
}

@media screen and (max-width:319px) {
    .about_me{
        height: 470px;
    width: 98%;
    margin-left: 1%;
}
    

    .about_me img{
        margin-top: 8%;
        margin-left: 30%;
        width: 40%;
    }

    .txt{
        margin-top: 6%;
        margin-left: 1%;
        width: 100%;
    }

    .txt h5{
        font-size: 79%;
    }
}

@media screen and (max-width:303px) {
    .about_me{
        height: 450px;
    width: 98%;
    margin-left: 1%;
}
    

    .about_me img{
        margin-top: 8%;
        margin-left: 30%;
        width: 40%;
    }

    .txt{
        margin-top: 6%;
        margin-left: 0%;
        width: 100.99%;
    }

    .txt h5{
        font-size: 79%;
    }
}

@media screen and (max-width:301px) {
    .about_me{
        height: 450px;
    width: 98%;
    margin-left: 1%;
}
    

    .about_me img{
        margin-top: 8%;
        margin-left: 30%;
        width: 40%;
    }

    .txt{
        margin-top: 6%;
        margin-left: 0%;
        width: 100.99%;
    }

    .txt h5{
        font-size: 74%;
    }
}
/* about me ends */

/* skills starts */
@media screen and (max-width:1032px) {
    .skills_txt h4{
        position: relative;
        top:22px;
    }
}

@media screen and (max-width:857px) {
    .skills_txt h4{
        position: relative;
        top:18px;
    }
}

@media screen and (max-width:949px) {
    .skills_txt h4{
        position: relative;
        top:18px;
    }

    .pro{
        margin-top: 2%;
    }
}

@media screen and (max-width:689px) {
    .skills_txt h4{
        position: relative;
        top:18px;
    }

    .pro{
        margin-top: 4%;
    }
}

@media screen and (max-width:612px) {
    .skills_txt h4{
        position: relative;
        top:18px;
    }

    .pro{
        margin-left: 2%;
    }

    .progress{
        width: 95%;
    }
}

@media screen and (max-width:393px) {
    .skills_txt h4{
        position: relative;
        top:18px;
    }

    .pro{
        margin-top: 8%;
        margin-left: 2%;
    }

    .progress{
        width: 95%;
    }
}

@media screen and (max-width:539px) {
    .skills_txt h4{
        position: relative;
        top:10px;
    }

    .pro{
        margin-left: 2%;
    }

    .progress{
        width: 95%;
    }
}

@media screen and (max-width:517px) {
    .skills_txt h4{
        position: relative;
        top:18px;
    }

    .pro{
        margin-top: 6%;
    }
}

@media screen and (max-width:370px) {
    .skills_txt h4{
        position: relative;
        top:18px;
    }

    .pro{
        margin-top: 10%;
    }
}
/* skills ends */

/* projects starts */
@media screen and (max-width:992px) {
    .card{
        height: 250px;
    }
}

@media screen and (max-width:875px) {
    .card{
        height: 250px;
        width: 40%;
    }
}

@media screen and (max-width:770px) {
    .card{
        height: 290px;
        width: 60%;
        margin-left: 20%;
    }

    .project{
        height: 750px;
    }

    #mobile_cards{
        display: grid;
    }
}

@media screen and (max-width:680px) {
    .card{
        height: 250px;
        width: 60%;
        margin-left: 20%;
    }

    .project{
        height: 750px;
    }

    #mobile_cards{
        display: grid;
    }
}

@media screen and (max-width:584px) {
    .card{
        height: 220px;
        width: 60%;
        margin-left: 20%;
    }

    .project{
        height: 750px;
    }

    #mobile_cards{
        display: grid;
    }
}
/* projects ends */

/* idea starts */
@media screen and (max-width:593px) {
    .social{
        width: 60%;
        margin-top: 8%;
        margin-left: 17%;
    }
}
/* idea ends */

/* contact_me starts */

@media screen and (max-width:790px) {
    .contact_me{
        height: 1200px;
    }

   .map iframe{
       width: 220%;
   }
    .contact_form{
        position: relative;
        top: 580px;
        right: 353px;
    }
    
    #contactForm{
        width: 220%;
    }
}

@media screen and (max-width:693px) {
    .contact_me{
        height: 1200px;
    }

   .map iframe{
       width: 220%;
   }
    .contact_form{
        position: relative;
        top: 580px;
        right: 320px;
    }
    
    #contactForm{
        width: 220%;
    }
}

@media screen and (max-width:618px) {
    .contact_me{
        height: 1200px;
    }

   .map iframe{
       width: 220%;
   }
    .contact_form{
        position: relative;
        top: 580px;
        right: 280px;
    }
    
    #contactForm{
        width: 220%;
    }
}

@media screen and (max-width:551px) {
    .contact_me{
        height: 1200px;
    }

   .map iframe{
       width: 220%;
   }
    .contact_form{
        position: relative;
        top: 580px;
        right: 250px;
    }
    
    #contactForm{
        width: 220%;
    }
}


@media screen and (max-width:500px) {
    .contact_me{
        height: 1200px;
    }

   .map iframe{
       width: 220%;
   }
    .contact_form{
        position: relative;
        top: 580px;
        right: 230px;
    }
    
    #contactForm{
        width: 220%;
    }
}

@media screen and (max-width:412px) {
    .contact_me{
        height: 1200px;
    }

   .map iframe{
       width: 220%;
   }
    .contact_form{
        position: relative;
        top: 580px;
        right: 190px;
    }
    
    #contactForm{
        width: 220%;
    }
}

@media screen and (max-width:414px) {
    .contact_me{
        height: 1200px;
    }

   .map iframe{
       width: 220%;
   }
    .contact_form{
        position: relative;
        top: 580px;
        right: 190px;
    }
    
    #contactForm{
        width: 220%;
    }
}

@media screen and (max-width:393px) {
    .contact_me{
        height: 1200px;
    }

   .map iframe{
       width: 220%;
   }
    .contact_form{
        position: relative;
        top: 580px;
        right: 190px;
    }
    
    #contactForm{
        width: 250%;
    }
}

@media screen and (max-width:353px) {
    .contact_me{
        height: 1200px;
    }

   .map iframe{
       width: 220%;
   }
    .contact_form{
        position: relative;
        top: 580px;
        right: 170px;
    }
    
    #contactForm{
        width: 220%;
    }
}

@media screen and (max-width:317px) {
    html, body {
        overflow-x: hidden;
      }
      body {
        position: relative;
      }    
    .contact_me{
        height: 1200px;
    }

   .map iframe{
       width: 220%;
   }
    .contact_form{
        position: relative;
        top: 580px;
        right: 140px;
    }
    
    #contactForm{
        width: 220%;
    }
}
/* contact_me ends */