*{
    margin: 0;
    padding: 0;
}



body{
    margin: auto;
    background-color: black;
    overflow-x: hidden;
}

/* navbar starts */


.logo{
    font-size: 30px;
    position: absolute;
    top: 32px;
    left: 60px;
    color: white;
}

span{
    color: #f4004c;
}

.navbar_items{
    display: flex;
    justify-content: space-evenly;
    width: 55%;
    position: relative;
    top: 40px;
    margin-left: 25%;
    list-style: none;
}

.navbar_links a{
    text-decoration: none;
    color: white;
}

.mobile_nav{
    display: none;
}

/* navbar ends */

/* about me starts */

.about_me{
    height: 450px;
    width: 74%;
    margin-top: 10%;
    margin-left: 11%;
}

.about_me img{
    width: 35%;
    margin-top: 5%;
    border-radius: 10%;
    border: 2px solid white;
}

.txt{
    width: 60%;
    /* float: right; */
    color: white;
    margin-top: -34%;
    margin-left: 40%;
}

h5{
    line-height: 200%;
}

/* about me ends */

/* skills starts */
.skills{
    height: 600px;
    border: 2px solid salmon;
    background-color: #191919;
}

.skills_txt h4{
    position: relative;
    top: 30px;
    color: white;
}

.skills h1{
    text-align: center;
    color: white;
}

.pro{
    margin-left: 10%;
}

.progress{
    width: 80%;
    margin-top: 3%;
}

/* skills ends */

/* projects starts */
.project{
    height: 500px;
    /* border: 2px solid orangered; */
}

.project h1{
    text-align: center;
    color: white;
}

.cards{
    display: flex;
    justify-content: space-evenly;
}

.card{
    height: 350px;
    width: 40%;
    margin-top: 5%;
    background-color: #191919;
}

.card_txt{
    color: white;
    text-align: center;
}

.card_anchor{
    text-align: center;
}

.card_anchor a{
    text-decoration: none;
    color: #f4004c;
}
/* projects ends */

/* idea starts */
.ideas{
    height: 200px;
    /* border: 2px solid saddlebrown; */
    background-color: #191919;
}

.ideas h1{
    text-align: center;
    color: white;
}

.social{
    margin-top: 3%;
    margin-left: 35%;
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}

.social i{
    color: white;
    font-size: 40px;
}

/* idea ends */

/* contact me starts */
.contact_me{
    height: 700px;
    border: 2px solid blueviolet;
}

.contact_me h1{
    text-align: center;
    color: white;
}

.contact_me_contents{
    margin-top: 8%;
    margin-left: 5%;
    display: flex;
    justify-content: space-evenly;
}

.map{
    height: 500px;
    width: 40%;
    /* border: 2px solid salmon; */
    margin-left: -5%;
    /* background-color: #f4004c; */
}

.contact_form{
    height: 500px;
    width: 40%;
    /* border: 2px solid orchid; */
    /* background-color: aquamarine; */
}

.form-label{
    color: white;
}

footer{
    height: 100px;
    border: 2px solid saddlebrown;
}

/* contact me ends */

/* footer starts */

footer{
    background-color: #191919;
}

footer h1{
    text-align: center;
    color: white;
    margin-top: 2%;
}

/* footer ends */