*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #101010;
}

li, a{
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    color: white;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.social_links li{
    display: inline-block;
    padding: 0 20px;
}

.social_links a{
    font-size: 28px;
}

.about{
    display: flex;
    justify-content: space-between;
}

.about img{
    width: 430px;
    margin-top: 10%;
    margin-left: 15%;
}

.about_txt{
    color: white;
    width: 800px;
    margin-top: 5%;
    margin-left: 15%;
    line-height: 240%;
}

.skill h1{
    color: white;
    text-align: center;
    position: relative;
    top: 120px;
}

.skills-bar{
    width: 600px;
    background-color: #101010;;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    padding: 25px 30px;
    /* position: absolute;
    top: 40px;
    left: 320px; */
    margin-top: 10%;
    margin-left: 30%;
}

span{
    color: white;
}

.skills-bar .bar{
    margin: 20px 0;
}

.skills-bar .bar .info span{
    margin-bottom: 5px;
}

.skills-bar .bar:first-child{
    margin-top: 0px;
}

.skills-bar .bar .info span{
    font-size: 17px;
    font-weight: 500;
}

.skills-bar .bar .progress-line{
    position: relative;
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    border-radius: 10px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5),
                       0px 1px rgba(225,225,225,0.8);
}

.bar .progress-line span{
    height: 100%;
    width: 80%;
    background: #6665ee;
    position: absolute;
    border-radius: 10px;
}

.bar .progress-line span::before{
    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
}

.bar .progress-line span::after{
    position: absolute;
    right: 0;
    top: -28px;
    color: #fff;
    font-size: 12px;
    background: #000;
    padding: 1px 8px;
    border-bottom: 3px;
}

.progress-line.html span{
    width: 70%;
}

.progress-line.css span{
    width: 40%;
}

.progress-line.boot span{
    width: 30%;
}

.progress-line.js span{
    width: 40%;
}

.progress-line.html span::after{
    content: "70%";
}

.progress-line.css span::after{
    content: "40%";
}

.progress-line.boot span::after{
    content: "30%";
}

.progress-line.js span::after{
    content: "40%";
}

.container h2{
    color: white;
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #101010;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

.column{
    color: white;
}  

footer{
    color: white;
    text-align: center;
}  